
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

video {
  height: auto;
  width: 100%;
}





/* lakecanvascontainer needed to position the button. Adjust the width as needed */
.lakecanvascontainer {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.lakecanvascontainer img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.lakecanvascontainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.lakecanvascontainer .btn:hover {
  background-color: black;
}